h1{
  text-align: center;
  border-top: 0;
}

.logo{
  float: left;
  height: 100px;
}
body{
  background: url(../images/shourav-sheikh-a66sGfOnnqQ-unsplash.jpg);
  background-size: cover;
  align-content: center;
  text-align: center;
}
.jumbotron{
  height: 150px;
  background: none;
}
.card{
  background-color: rgba(243, 77, 0, 0.678);
}
.order{
  background-color: rgba(54, 1, 12, 0.836);
}

.selections{
  margin-left: 250px;
}
#receipt{
  background-color: maroon;
  color: white;
}
.del-fee{
  background-color: maroon;
  color: white;
  display: none;
}